body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: rgb(206, 240, 206);
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 3px darkgreen;
}

.btn {
  border-radius: 5px;
    margin: 2px;
    padding: 5px;
    background-color: #65ab88;
    color: white;
}

.container {
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: rgb(206, 240, 206);
  padding: 10px;
  box-shadow: 5px 5px 3px darkgreen;
}

.port-item {
  background-color: white;
  padding: 5px;
  margin: 2px;
  border: 1px solid darkgreen;
  overflow: auto;
  clear: both;
}

.deploy-btn {
  margin-left: 5px;
}